.ticket-list {

    .ticket-item {
        width: 566px;
        height: 161px;
        background-color: #fff;
        display: flex;
        border-radius: 5px;
        margin-bottom: 20px;

        box-shadow: rgba(91, 137, 164, 0.25) 0 1px 4px;

        .content {
            padding: 26px  25px 0;

            .flight-brief {
                display: flex;

                time {
                    display: inline-block;
                    font-size: 2rem;
                    padding-bottom: 10px;
                }

                &-layovers {
                    position: relative;
                    width: 105px;
                    height: 50px;

                    margin-left: 0;
                    margin-right: 20px;

                    .transfer-count {
                        position: relative;
                        top: 5px;
                        left: -8px;

                        text-transform: uppercase;
                        text-align: center;
                        font-size: 11px;
                        color: #D2D6D6;
                    }

                    .logo {
                        position: absolute;
                        right: -5px;
                        top: 45%;
                        width: 105px;
                        height: 14px;

                        text-align: right;

                        img {
                            position: relative;
                            top: -7px;
                            width: 13px;
                            height: 14px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: -15px;
                            height: 1px;
                            width: 100%;
                            background-color: #D2D6D6;
                        }
                    }
                }

                &-departure,
                &-arrival {
                    p {
                        font-size: 12px;
                        margin-bottom: 5px;
                    }
                    .time {
                        font-size: 12px;
                        color: rgb(139, 148, 151);
                    }
                }

                &-arrival {
                    .time, p { text-align: right;}
                }
            }
        }

        .side {
            width: 201px;
            height: 100%;
            text-align: center;
            padding: 25px 20px;
            border-right: 1px solid #ECEFF1;

            img {
                margin-bottom: 20px;
            }

            .buy-btn {
                width: 160px;
                height: 56px;
                border: none;
                border-radius: 5px;
                color: #fff;
                padding: 0 20px;
                line-height: 19px;
                background-color: #FF6D00;
                box-shadow: #D64D08 0 1px 0;
                text-align: center;

                span {
                    display: inline-block;
                }

                &:hover {
                    background-color: #FF8121;
                    cursor: pointer;
                    box-shadow: #F7661D 0 1px 0;
                }
            }

        }
    }
}
